.therepies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}

.therepyContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 50px;
}

.therepyCards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    

}

.therepySingleCard:hover{
    transform: scale(1.005);
    transition: all 0.3s ease;
    background: rgba(190, 190, 190, 0.247);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
border-radius: 10px;
border: 2px solid rgba(5, 68, 3, 0.692);


}



.therepyCardsImg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
}

@media (max-width: 768px){

    .therepyContainer{
        margin: 40px 0;
    }

    .therepyCards{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .therepyCardsImg{
        padding-left: 12px;
    }

}